/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:wght@300&display=swap');

body {
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    background-color: #E9D9D4;
    margin: 0px;
}

.top {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFCFF;
    color:rgba(00,00,00,.6);
    font-size: 60px;
    font-family: 'Rampart One', cursive;
}

.middle {
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100vw;
}

.container {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 512px;
    height: 512px;
    background-color: #FEFCFF;
    border: 1px rgba(00,00,00,.6) solid;
}

.outerDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.innerDiv {
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid rgb(233, 217, 212, .5);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -35px;
}

button:hover, input:hover {
    background-color: white;
    color: rgba(00,00,00);
}

p {
    font-family: 'Rampart One';
    font-size: 25px;
}

button,input {
    background-color: rgba(00,00,00,.6);
    padding: 5px;
    border-radius: 10px;
    border: 2px rgba(00,00,00,.5) solid;
    width: 80px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    color: rgb(233, 217, 212);
}


.bottom {
    margin-top: 200px;
}