body {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 512px;
    height: 512px;
}

.outerDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.innerDiv {
    flex-grow: 1;
    flex-shrink: 1;
    border: 0.5px solid;
}